<!-- 
<div class="header">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" ><path d="M-5.64,147.53 C194.13,38.98 348.75,198.84 503.38,109.05 L500.00,-1.47 L-3.38,-0.47 Z" ></path></svg>
    
</div> -->
<div class="nav-parent">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M-5.64,147.53 C194.13,38.98 348.75,198.84 503.38,109.05 L500.00,-1.47 L-3.38,-0.47 Z"></path>
    </svg>
    <div class="container">
        <div class="nav-bar">
            <div class="logo-list">
                <div class="nav-logo">
                    <img src="../../../../assets/web/web/Logo & Profile.png">
                </div>
                <ul class="list-nav">
                    <li class="item-nav" [routerLink]="['/home']">الرئيسية </li>
                    <li class="item-nav" [routerLink]="['/categories']" >الاختصاصات </li>
                    <li class="item-nav">من نحن </li>
                </ul>
            
            </div>
            <button *ngIf="!log;else profileLink" [routerLink]="['/login']" class="button-login-nav">تسجيل الدخول</button>
           <ng-template  #profileLink>
           
           <div class="profile">
              <img src="../../../../assets/web/web/ic_user.svg">
            <p [routerLink]="['/profile']">الملف الشخصي</p>
           </div>
        </ng-template>
           
        </div>
    </div>
</div>
