.butto-back{
    width: 200px;
    height: 20px;
    /* background-color: blue; */
    margin-top: 50px;
    display: flex;

    align-items: center;
    gap: 15px;
    font-size: 2rem;
   
}
i{
    animation-name:left-right ;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
     
}
@keyframes left-right{
    0%{
transform: translateX(3px);
    }
    50%{
        transform: translatex(6px);
    }
    75%{
        transform: translatex(-6px);
    }
    100%{
        transform: translatex(-3px);
    }
}
.title-exam-parent{
    margin:50px 200px 0px 0px;
}
.list-mark{
   
    display: flex;
 gap: 25px;
}

.important-istruction{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.list-instruction{
    margin: 25px 200px 0px 0px;
    list-style: circle;
    color: var(--main-color);
}
.section-button-start{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-exam-buttom{
    width: 150px;
    height: 30px;
    margin-top: 50px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    background-color: var(--main-color);

}
.butto-back{
    cursor: pointer;
}
.butto-back img{
    width: 50px;
}