<div class="parent-footer">

    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M-4.79,62.65 C155.47,-34.03 226.57,149.50 499.72,19.23 L500.00,150.00 L0.00,150.00 Z"></path>
    </svg>
    <div class="container">
        <div class="parent-footer-contain">
            <div class="parent-condition">
                <!-- <div class="over-section"> -->
                <ul class="list-footer">
                    <li>سياسة الخصوصية </li>
                    <li>الشروط و الاستخدام </li>
                </ul>

                <ul class="list-footer-under">
                    <li>جميع الحقوق محفوظة 2023</li>
                    <li class="icon-item">
                        <img src="../../../../assets/web/web/ic_facebook.svg">
                    </li>
                    <li class="icon-item">
                        <img src="../../../../assets/web/web/ic_instagram.svg">
                    </li>
                </ul>
                <!-- </div> -->
            </div>
            <div class="logo-footer">
                <img src="../../../../assets/web/web/Logo & Profile.png">
            </div>

        </div>
    </div>
</div>
