<app-header></app-header>

<div class="butto-back" (click)="goBack()">
    <i ><img src="../../../../assets/images/bxs-right-arrow-alt.svg" alt=""></i>
    <div>العودة</div>
</div>
         
    <div class="main"  >    
    <div class="sub-main" *ngFor="let item of oldexames;index as i from 2"
    (click)="id=item.id"; [routerLink]="['/onecourse']"
       
        [ngClass]="(i%2===0) ?'vector-container':'vector-group'" 
         > 
      
        <img class="vector-icon" alt="" src="../../../../assets/web/web/ic_book.svg" [routerLink]="['/book']">
        
        <div class="div3"> {{item.name}}</div>
        <img class="vector-icon1" alt="" src="../../../../assets/web/web/left-arrow.svg">
        
    </div>
    </div>